html, body {
    color: $font-color;
    background-color: $white;
}
.overlay {
    background-color: $transparent-black;
}
.call-to-action {
    color: $secondary-blue;
}
.mobile-menu {
    background-color: $white;

    div {
        background-color: $primary-blue;
    }
}
nav.primary {
    background-color: $white;

    .close-menu {
        color: $tertiary-blue;
        background-color: initial;
    }
    .menu-text {
        color: $primary-blue;
    }
    a {
        background-color: $grey;
        color: $font-color;

        @include for-tablet-landscape-up {
            background-color: initial;
            color: $primary-blue;
        }
    }
}
.dealers { 
    &--filter {
        background-color: $grey;
    }
    &--count {
        color: $secondary-blue;
    }
    &--dropdown {
        background-color: $white;

        @include for-tablet-landscape-up {
            background-color: initial;
        }
    }
    .filter-dropdown-toggle {
        background-color: $grey;
    }
    &--categories {
        background-color: $white;

        @include for-tablet-landscape-up {
            background-color: initial;
        }
    }
}

footer {
    background-color: $primary-blue;

    &, a {
        color: $white;
    }

    .footer-info {
        background-color: $secondary-blue;
    }
    .utility {
        @include for-tablet-landscape-up {
            background-color: $primary-blue;
        }
    }
}
@each $type in $check-radio {
    .#{$type}-container {
        &:hover input ~ .#{$type} {
            background-color: $grey;
        }
        input:checked ~ .#{$type} {
            background-color: $secondary-blue;
        }
        .#{$type} {
            background-color: $white;

            &:after {
                background-color: $white;
            }
        }
    }
}