body.open {
    overflow: hidden;
    position: relative;

    .overlay {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.desktop-only {
    display: none;

    @include for-tablet-landscape-up {
        display: block;
    }
}
nav.primary.show {
    top: initial;
    text-align: left;
    left: 0;
    right: 0;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
}
header {
    padding: 1rem;

    .container {
        display: flex;
        align-items: center;
    }

    @include for-tablet-landscape-up {
        margin-top: 35px;
    }

    &:after {
        display: table;
        content: '';
        clear: both;
    }
    .header-right {
        flex: 1;
        text-align: right;

        @include for-tablet-landscape-up {
            flex: 2;
        }
    }
    .header-left {
        flex: 1;
    }

    .logo {
        padding-right: 2.5rem;
    }
    .header-image {
        margin: 0 auto;
    }
    .call-to-action {
        width: 105px;
        display: inline-flex;
        align-items: center;
        border: 1px solid $secondary-blue;
        border-radius: 3px;
        padding: .5rem;

        img {
            height: 20px;
            padding-right: .5rem;
        }
    }
    .mobile-menu {
        width: 30px;
        height: 30px;
        margin: 0;
        border: 0;
        padding: 0;
        float:  right;
        cursor: pointer;
        margin-left: 1.5rem;

        div {
            width: 19px;
            height: 4px;
            margin: 0 0 3px auto;
        }
        div:nth-child(2) {
            width: 16px;
        }
        div:last-child {
            margin-bottom: 0; 
        }

        @include for-tablet-landscape-up {
            display: none;
        }
    }
}
nav.primary {
    border-top: 2px solid $tertiary-blue;
    border-bottom: 2px solid $tertiary-blue;
    position: relative;
    z-index: 2;
    position: fixed;
    display: block;
    top: -999px;
    margin: 0 1rem;

    @include for-tablet-landscape-up {
        position: relative;
        top: initial;
        width: auto;
        border: 0;
        z-index: initial;
        display: inline-block;
    }

    .close-menu {
        position: absolute;
        right: .5rem;
        top: .5rem;
        padding: 0 .5rem;
        border: 0;
        height: auto;

        @include for-tablet-landscape-up {
            display: none;
        }
    }
    .menu-text {
        text-align: center;
        padding: 2rem;

        @include for-tablet-landscape-up {
            display: none;
        }
    }
    li {
        margin-bottom: 1px;

        @include for-tablet-landscape-up {
            display: inline-block;
        }

        &:last-child {
            margin-bottom: 0;
        }
        a {
            display: block;
            padding: 2rem 2.5rem;
            position: relative;

            @include for-tablet-landscape-up {
                padding: 2rem 1rem;
            }
            img {
                position: absolute;
                right: 1rem;
                height: 1.5rem;
                width: 1.5rem;

                @include for-tablet-landscape-up {
                    display: none;
                }
            }
        }
    }
}
.dealers {
    &--filter {
        padding: 1rem;

        @include for-tablet-landscape-up {
            display: flex;
        }
    }
    &--header {
        display: flex;
        flex: 1;

        & > div {
            flex: 1;
        }
    }
    &--count {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    &--dropdown {
        border: 1px solid darken($grey, 10%);
        border-right: 0;
        justify-content: center;
        align-items: center;
        display: flex;

        @include for-tablet-landscape-up {
            border: none;
            border-left: 1px solid darken($grey, 10%);
        }
    }
    .filter-dropdown-toggle {
        height: 46px;
        width: 46px;
        border: 1px solid darken($grey, 10%);
        cursor: pointer;

        @include for-tablet-landscape-up {
            display: none;
        }
    }
    &--categories {
        flex: 2;
        clear: both;
        padding: 1.5rem;
        border: 1px solid darken($grey, 10%);
        display: none;

        &.open {
            display: block;
        }
        @include for-tablet-landscape-up {
            border: 0;
            display: flex;
            align-content: center;
        }
        .checkbox-container {
            flex: 1;
            display: block;
        }
    }
    &--list {

        @include for-tablet-landscape-up {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }
        .dealer {
            text-align: center;

            @include for-tablet-landscape-up {
                flex: 0 0 33%;
                padding: .5rem;
            }
            &--title {
                margin: 2.5rem 0 2rem;
                height: 4rem;
                
                @include for-tablet-landscape-up {
                    border-bottom: 1px solid darken($grey, 10%);
                }
            }
            &--phone.mobile-only {
                border-radius: 2px;
                position: relative;
                display: inline-block;
                padding: .7rem .7rem .7rem 3.5rem;

                @include for-tablet-landscape-up {
                    display: none;
                }
                &:before {
                    content: '';
                    height: 3.2rem;
                    width: 3.2rem;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: $primary-blue url('/assets/images/phone-icon-mobile.png') center center no-repeat;
                    background-size: contain;
                }
            }
            &--phone.desktop-only:before {
                content: '';
                height: 2rem;
                width: 2rem;
                margin-right: 1rem;
                display: inline-block;
                background: url('/assets/images/phone-icon-desktop.png') center center no-repeat;
                background-size: contain;
            }
            &--email {
                margin: 1rem 0;
            }
            &--contact {
                box-shadow: initial;
                border: 1px solid $tertiary-blue;
                padding: 1rem 1.5rem 1rem 2.5rem;
                position: relative;
                cursor: pointer;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 5px;
                    height: 1.4rem;
                    width: 1.4rem;
                    background: url('/assets/images/email-icon.png') center center no-repeat;
                    background-size: contain;
                }
            }
            &--hours {
                margin: 2rem auto;

                & > h4 {
                    font-size: 1.4rem;
                    font-weight: bold;
                    padding-bottom: .5rem;
                }
                .business-hours > p {
                    line-height: 1.5;
                }
            }
            &--certifications {
                padding: 2rem 3rem 2rem 4rem;
                text-align: left;
                height: 12rem;
                
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
                & > div {
                    width: 50%;
                    float: left;
                    padding-left: 2rem;
                    position: relative;
                    margin-bottom: 1rem;

                    &:before {
                        content: '';
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        left: 0;
                        display: block;
                        background: center center no-repeat;
                        background-size: contain;
                    }
                }
                .installation:before {
                    background-image: url('/assets/images/star-installation-pro.png');
                }
                .commercial:before {
                    background-image: url('/assets/images/users-commercial-pro.png');
                }
                .residential:before {
                    background-image: url('/assets/images/home-residential-pro.png');
                }
                .service:before {
                    background-image: url('/assets/images/gear-service-pro.png');
                }
            }
        }
    }
}
.footer-logo {
    padding: 2rem 1rem 1rem;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;

    img {
        max-width: 190px;
        width: 100%;
    }
}
.social {
    display: flex;
    padding: 0 1rem 1rem;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
}
.social-left {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}
.social-right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: flex-end;

    @include for-tablet-landscape-up {
        justify-content: center;
    }
    
    li {
        padding: 0 0.5rem;

        a {
            vertical-align: middle;

            img {
                max-height: 2rem;
            }
        }
    }
}
.utility {
    text-align: center;
    padding: 0 1rem;

    @include for-tablet-landscape-up {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: right;
    }

     ul { 
        display: inline-block;
        justify-content: center;
        border-bottom: 1px solid $white;
        padding: 1rem 0;

        @include for-tablet-landscape-up {
            border-bottom: none;
        }

        li {
            display: inline-block;
            padding: 0 1rem;

            &:last-child {
                border-left: 1px solid $white;

                @include for-tablet-landscape-up {
                    border-left: none;
                }
            }
            a {
                line-height: 1rem;
                vertical-align: middle;
            }
        }
    }
}
.copyright {
    display: flex;
    justify-content: center;
    padding: 1rem;

    div {
        border-right: 1px solid $white;
        padding: 0 .5rem;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }
}
.modal {
    position: fixed;
    overflow: auto;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
    display: none;
    width: 100%;
    max-width: 500px;

    &.show {
        display: block;
    }
    .modal-header {
        position: relative;
        padding: 1.5rem;

        .close-modal {
            border: none;
            position: absolute;
            right: .5rem;
            top: .5rem;
            cursor: pointer;
        }
        .modal-title {
            margin: .5rem 0;
        }
    }
    .modal-body {
        padding: 1.5rem;

        .form-description {
            margin-bottom: 1rem
        }
        .email-form {

            label {
                padding-bottom: 1rem;
                position: relative;
            }
            input:not([type=radio]), textarea {
                border: 1px solid darken($grey, 10%);
                padding: .5rem;
                width: 100%;

                &:after {
                    content: '';
                    position: relative;
                    display: block;
                    height: 10px;
                    width: 10px;
                }
            }
            & > .form-group {
                margin: 2rem 0;

                label:not(.radio-container) {
                    display: block;
                    padding-right: 5.5rem;
                }
                &.required label:not(.radio-container):after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 2rem;
                    width: 2rem;
                    background: url('/assets/images/circle-form.png') center center no-repeat;
                    background-size: contain;
                }
                &.required.valid label:not(.radio-container):after {
                    background-image: url('/assets/images/checkmark-circle.png');
                }
                &.optional label:not(.radio-container):after {
                    content: 'optional';
                    display: block;
                    position: absolute;
                    font-style: italic;
                    font-weight: normal;
                    color: darken($grey, 10%);
                    top: 0;
                    right: 0;
                }
            }
            & > div:last-of-type {
                border-top: 1px solid darken($grey, 10%);
                margin-top: 2rem;
                padding-top: 2rem;
            }
            button[type=submit] .mobile-only {
                @include for-tablet-landscape-up {
                    display: none;
                }
            }
            .button-wrapper {
                text-align: right;

                @include for-tablet-landscape-up {
                    text-align: center;
                }
            }
            button[type=submit] {
                border: none;
                padding: 1rem 2rem;
                cursor: pointer;

                @include for-tablet-landscape-up {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 1rem;
                        height: 1.4rem;
                        width: 1.4rem;
                        background: url('/assets/images/next-arrow.png') center center no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

@each $type in $check-radio {
    .#{$type}-container {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-left: 2.5rem;
        margin-bottom: 2rem;

        @include for-tablet-landscape-up {
            margin-bottom: 0;
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked ~ .#{$type} {
                border: 0;

                &:after {
                    display: block;
                }
            }
        }
        .#{$type} {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.6rem;
            width: 1.6rem;
            border: 1px solid darken($grey, 10%);
            border-radius: 4px;

            &:after {
                content: '';
                position: absolute;
                display: none;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 5px;
                height: 5px;
                border: solid white;
                border-radius: 1px;
            }
        }
    }
}