$white: #ffffff;
$grey: #f6f6f6;
$font-color: #3f3f3f;
$primary-blue: #083d8c;
$secondary-blue: #216ddf;
$tertiary-blue: #02c7c6;
$transparent-black: rgba(0, 0, 0, .6);

$font-size: 10px;
$font-family: 'Open Sans', sans-serif;

$check-radio: 'checkbox' 'radio';